.container {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.wallpaper {
  height: 200px;
}

.wallpaper img {
  object-position: center 30%;
}

.avatar {
  width: 200px;
  height: 200px;
  margin-right: 20px;
}

.info p {
  margin: 10px 0;
}
